[submodule "packages/EABase"]
	path = packages/EABase
	url = https://github.com/electronicarts/EABase.git
	shallow = true
[submodule "packages/mimalloc"]
	path = packages/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	branch = master
